.services-hero {
    background: grey;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
}

.sh-left-side {
    background: lightgrey;
    height: 70%;
    width: 35%
}

.sh-right-side {
    background: white;
    height: 70%;
    width: 40%;
}