.service-selection {
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.serviceCard{
    height: 30rem;
    width: 80%;
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.serviceCard.opp {
    flex-direction: row-reverse;
}


.sc-left {
    /* background: red; */
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sc-header {
    height: 25%;
    display: flex;
    align-items: flex-end;
}

.sc-header > h1 {
    font-size: 45px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sc-info {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sc-info > p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 90%;
    color: rgb(84, 83, 83);
    line-height: 1.2;
}

.sc-info > button {
    height: 35%;
    width: 90%;
    background: black;
    color: white;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

.sc-right {
    background: grey;
    height: 80%;
    width: 55%;
    display: flex;
}

@media screen and (max-width: 600px){
    .serviceCard, .serviceCard.opp {
        flex-direction: column-reverse;
        height: 50em;
        width: 100%;
    }

    .sc-left, .sc-right {
        width: 100%;
        align-items: center;
    }

    .sc-info {
         align-items: center;
    }

    .sc-info > button {
        font-size: 20px;
        height: 30%;
    }
    .sc-info > p {
        text-align: center;
        width: 80%;
        font-size: 22px;
    }
    
    .sc-header {
        justify-content: center;
    }
    .sc-header > h1 {
        text-align: center;
        font-size: 40px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 601px){
    .serviceCard {
        height: 25em;
    }
    .sc-header > h1 {
        font-size: 40px;
    }

    .sc-info > button {
        height: 30%;
        font-size: 18px;
    }

    .sc-info > p {
        font-size: 20px;
    }
}

@media screen and (min-width: 2000px) {
    .sc-header > h1 {
        font-size: 100px;
    }

    .sc-info > p {
        font-size: 45px;
    }

    .sc-info > button {
        font-size: 45px;
    }
    .serviceCard {
        height: 60em;
    }
}