.about-section {
    background: lightgrey;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hp-about-left {
    background: white;
    height: 90%;
    width: 37%;
}

.hp-about-right {
    background: yellow;
    height: 90%;
    width: 37%;
}