.about-section_1 {
    background: white;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.as1-header {
    background: red;
    width: 30%;
    height: 40%;
}