.footer {
    background: black;
    height: 28vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav, .footer-business, .footer-info {
    /* background: white; */
    width: 15%;
    height: 100%;
}

.footer-nav {
    display: flex;
    width: 40%;
    flex-direction: row-reverse;
}

.real-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    /* background: red; */
}
.real-nav > a {
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.footer-business {
    height: 90%;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    background: none;
    justify-content: flex-end;
}

.footer-business > img {
    width: 100px;
}
.footer-business > h3 {
    font-size: 8px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: 90%;
}

.footer-info > span {
    display: flex;
    margin: 5px;
}

.footer-info > span > h1 {
    color: white;
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}